
App/.vs/App/config/

App/.vs/App/v16/

App/bin/Debug/netcoreapp3.1/

App/obj/

*.user

App/appsettings.Development.json

App/.vs/App/DesignTimeBuild/.dtbcache

*.testlog

*.manifest

App/.vs/UdemyCourse/DesignTimeBuild/.dtbcache
