@**@

@{
    ViewData["Title"] = "Sign In Page";
}

@model App.Models.Accounts.SignInModel;

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Accounts" asp-action="SignIn">
            <h4>Sign In</h4>
            <h5>
                If you don't have an account, sign up <a asp-controller="Accounts" asp-action="SignUp">here!</a>
            </h5>
            <hr />

            <div asp-validation-summary="All" class="text-danger">
            </div>

            <div class="form-group">
                <label asp-for="Email">
                </label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger">
                </span>
            </div>

            <div class="form-group">
                <label asp-for="Password">
                </label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger">
                </span>
            </div>

            <div class="form-check">
                <input asp-for="RememberMe" class="form-check-input" type="checkbox">
                <label asp-for="RememberMe" class="form-check-label">
                </label>
            </div>

            <div class="form-group">
                <a asp-controller="Accounts" asp-action="ForgotPassword">
                    Forgot Password?
                </a>
            </div>

            <hr />

            <button type="submit" class="btn btn-primary">
                Sign In
            </button>
        </form>
    </div>
</div>

